/* Estilo da página */
body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
}
/* Centralização do conteúdo */
.container {
    max-width: 900px;
    margin: 0 auto;
}
/* Fonte do texto */
h1,h2 {
    font-family: "Montserrat", sans-serif;
}

.dark {
    background-color: #121212;
    color: #ffffff;
}

.dark section{
    background-color: #1e1e1e;
    color: #ffffff;
}